body {
    font-family: monospace; /* Моноширинный шрифт */
    background-color: #333; /* Темный фон */
    color: #eee; /* Светлый текст */
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

#logo {
    width: 100px;
    height: auto;
}

nav {
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav button {
    background-color: #555;
    color: #eee;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: monospace;
}

nav button:hover {
    background-color: #777;
}

#content {
    padding: 20px;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}